<!DOCTYPE HTML>

<html>

<head>
    <title>Community - ENS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <style>
        #one:before {
            background-image: url(images/banner3.jpg);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <section id="header">
        <header>
            <span class="image avatar"><img src="images/avatar_back.jpg" alt="" id="avatar"/></span>
            <h1 id="logo"><a href="#" id="username">Raghavendra Temkar</a></h1>
            <p id="status">A Man With Potential</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./profile.html">Profile</a></li>
                <li><a href="#" class="active">Community</a></li>
                <li><a href="./shares.html">Share</a></li>
                <li><a href="javascript:void()" class="icon fa-lock" id="logout">  Logout</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li id="twitterL"><a href="#" class="icon fa-twitter" id="twitter"><span class="label">Twitter</span></a></li>
                <li id="facebookL"><a href="#" class="icon fa-facebook" id="facebook"><span class="label">Facebook</span></a></li>
                <li id="LinkedInL"><a href="#" class="icon fa-linkedin" id="LinkedIn"><span class="label">LinkedIn</span></a></li>
                <li id="EditorL"><a href="#" class="icon fa-edit" id="Editor"><span class="label">Blog</span></a></li>
            </ul>
        </footer>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one"> </section>
            
            <!-- Two -->
            <section id="two" style="display:none">
                <div class="container" id="contentDisplay">
                </div>
            </section>

            <!-- Three -->
            <section id="three">
                <div class="container">
                    <div class="features" id="ContentList">

                        <div class="row">
                            <div class="10u">

                                <div class="row">
                                    <div class="2u">
                                        <div style="background: url('./images/questionMark.jpg'); border-radius: 35px; width:60px; height: 60px;" id="backDiv" onclick="getUrl()">
                                        </div>
                                    </div>
                                    <div class="10u">
                                        <textarea name="message" id="question" placeholder="Any Question?" rows="1"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="2u">
                                <input type="submit" class="special" value="Ask Now!" style="height:60px" id="AskNow"/>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section id="footer">
                <ul class="copyright" style="margin-left:10%;">
                    <li>&copy; Untitled. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">Raghavendra T.A</a></li>
                </ul>
            </section>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollzer.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
        <script src="assetsMain/js/jquery.cookie.min.js"></script>
        <script src="assetsMain/js/config.js"></script>
        <script src="assetsMain/js/socket.io.min.js"></script>
        <script src="api/profile.js"></script>
        <script src="api/community.js"></script>

</body>

</html>