<!DOCTYPE HTML>

<html>

<head>
	<title>Login - ENS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assetsMain/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assetsMain/css/main.css" />
	<link rel="stylesheet" href="assetsMain/css/login.css" />
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
				<span class="logo"><img src="images/logo.png" alt="" /></span>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Content -->
			<section id="content" class="main">
				<div id="killAbove">
					<center>
						<br><br>
						<h1>Login</h1>
						<form id="loginForm" action="#" onsubmit="return false;">
							<input type="text" placeholder="User name" id="uname"/>
							<input type="password" placeholder="Password" id="pwd"/>
							<a href="javascript:void(0)">Forgot password?</a> | <a href="signup.html">New Account?</a><br/>
							<span class="icon myicon style1 fa-lock" id="myButton"></span>
						</form>
					</center>
				</div>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer" style="padding:0">
			<p class="copyright">&copy; BMSIT. Design: <a href="https://raghavendrata.tk">Raghavendra T.A</a>.</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assetsMain/js/jquery.min.js"></script>
	<script src="assetsMain/js/jquery.scrollex.min.js"></script>
	<script src="assetsMain/js/jquery.scrolly.min.js"></script>
	<script src="assetsMain/js/skel.min.js"></script>
	<script src="assetsMain/js/util.js"></script>
	<!--[if lte IE 8]><script src="assetsMain/js/ie/respond.min.js"></script><![endif]-->
    
    <!-- My Scripts -->
    <!-- My Scripts -->
    <script src="assetsMain/js/jquery.cookie.min.js"></script>
    <script src="api/form.js"></script>
    <script src="api/config.js"></script>
    <script src="assetsMain/js/socket.io.min.js"></script>
    <script src="assetsMain/js/socket.io-stream.js"></script>
    <script src="api/login.js"></script>

</body>

</html>
